startup --windows_enable_symlinks

build --strip=always
test --strip=always
build --compilation_mode=opt
test --compilation_mode=opt

build --enable_platform_specific_config=true
test --enable_platform_specific_config=true

build:linux --cxxopt=-std=c++17
test:linux --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17
test:linux --host_cxxopt=-std=c++17

build:windows --linkopt=/DEBUG:NONE
test:windows --linkopt=/DEBUG:NONE
build:windows --host_linkopt=/DEBUG:NONE
test:windows --host_linkopt=/DEBUG:NONE

build:windows --enable_runfiles
test:windows --enable_runfiles
build:windows --features=compiler_param_file
test:windows --features=compiler_param_file