common --noenable_bzlmod
common --noincompatible_enable_cc_toolchain_resolution
common --noincompatible_enable_android_toolchain_resolution

build --experimental_cc_shared_library
build --verbose_failures
test --verbose_failures

build --strip=always
test --strip=always
build --compilation_mode=opt
test --compilation_mode=opt

build --enable_platform_specific_config=true
test --enable_platform_specific_config=true

test --cache_test_results=no
test --test_output=all

build:macos --cxxopt=-std=c++17
build:macos --host_cxxopt=-std=c++17

build:macos --linkopt=-Wl,-undefined,dynamic_lookup
build:macos --host_linkopt=-Wl,-undefined,dynamic_lookup

build:linux --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17

build:windows --@com_google_protobuf//:use_dlls=True
build:windows --@com_google_absl//absl:use_dlls
build:windows --compiler=clang-cl
build:windows --linkopt=/demangle:no
build:windows --host_linkopt=/demangle:no
build:windows --linkopt=/DEBUG:NONE
build:windows --host_linkopt=/DEBUG:NONE
build:windows --nobuild_python_zip
build:windows --enable_runfiles
build:windows --features=compiler_param_file
